@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Grotesk:wght@400;500;700&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #bacca4; /* Bege Claro */
    color: #2b2726; /* Cinza Escuro para o texto */
    padding: 20px;
}

/* Cabeçalho */
header {
    background: #0a516d; /* Azul Escuro */
    color: #f4f4f4; /* Branco claro para contraste */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Conteúdo principal */
main {
    background: #ffffff; /* Branco para destacar o conteúdo */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #018790; /* Azul Claro */
    border-bottom: 2px solid #018790;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.8;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 15px;
    background: #2b2726; /* Cinza Escuro */
    color: #f4f4f4; /* Branco claro para contraste */
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 1px solid #444;
}

/* Links */
a {
    color: #018790; /* Azul Claro */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #7dad93; /* Verde Claro */
    text-decoration: underline;
}

/* Botões */
button {
    background-color: #7dad93; /* Verde Claro */
    color: #2b2726; /* Cinza Escuro */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #018790; /* Azul Claro */
    color: #ffffff; /* Branco */
}

.export-buttons {
    margin-top: 3rem;
}

.btn-docx {
    background-color: #185abd;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.btn-docx:hover {
    color: #fff;
    text-decoration: underline;
}

/* Layout Responsivo */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
    
    main {
        padding: 15px;
    }
    
    button {
        width: 100%;
        font-size: 1em;
    }
}
