{% extends 'base.html' %}

{% block main %}
<main>
    <div>
        <form action="/equacoes" method="POST">
            {{ result | safe }}<br><br>
            {% if error_msg %}
                <div class="alert">
                    <p>{{ error_msg }}</p>
                </div>
            {% endif %}
            <button type='submit'>Submeter</button>
        </form>
    </div>
    <div class="export-buttons">
        <a class="btn docx" href="/gerar-docx">Gerar Documento <i class='bx bxs-file-doc'></i></a>
        <a class="btn xlsx" href="/gerar-xlsx">Gerar Planilha <i class='bx bx-spreadsheet'></i></a>
    </div>
</main>
{% endblock %}
