{% extends 'base.html' %}
    
{% block main %}
<main>
    <h2>Página Principal</h2>
    <div>
        <form action="/" method="POST">
            <label for="eq_select">Selecione a equação que deseja realizar:</label>
            <select name="eq_select" id="eq_select">
                <option value="valor 1">Concentração de NaOH sem correção</option>
                <option value="valor 2">Concentração de NaOH com correção</option>
                <option value="valor 3">Concentração molar</option>
            </select></br></br>
            <label for="eq_quantity">Quantas vezes deseja calcular:</label>
            <input type="number" name="eq_quantity" id="eq_quantity" required></br>
            <button type="submit">Começar</button>
        </form>
    </div>
</main>
{% endblock %}
